<div class="users">
    <div *ngFor="let user of users" class="user-card">
        <div class="card-header">
            <img src='{{user.picture.medium}}' class="card-img" />

            <span class="card-header-text">
                <div style="font-size: 20px;">{{user.name.first}} {{user.name.last}}</div>
                <div>{{user.login.username}}</div>
            </span>
        </div>
    
        <div class="card-body">
            <div>{{user.email}}</div>
            <div>{{user.phone}}</div>
        </div>
    </div>
</div>
